.checkout-page {
	width: 70%;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 50px auto;

	.checkout-page-items {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid black;
	}

	.checkout-page-price {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		font-size: 22px;
	}

	.checkout-page-stripe {
		display: flex;
		justify-content: flex-end;
		margin-top: 5px;
	}

	.test-warning {
		color: red;
		text-align: center;
		font-size: 36px;
	}
}
