.header {
	width: 95%;
	display: flex;
	height: 70px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;

	.header-logo {
		height: 100%;
		width: 70px;
		padding: 80px;
	}

	.header-options {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.option {
			padding: 10px 15px;
			color: black;
			cursor: pointer;
			font-size: 16px;
		}
	}
}
