.checkout-item {
	width: 100%;
	display: flex;
	min-height: 100px;
	border-bottom: 1px solid darkgrey;
	padding: 15px 0;
	font-size: 20px;
	align-items: center;
	justify-content: space-between;

	.image-container {
		width: 15%;
		padding-right: 15px;

		img {
			height: 100%;
			width: 100%;
		}
	}

	.wrapper {
		display: flex;
		div {
			padding: 20px;
		}
	}
}
